.headercontent {
  height: 727px;
  position: relative;
  height: 800px;
  min-height: 500px;
  width: 100%;
  text-align: center;
  overflow: hidden;
  background-position:100%;
}
body, html {
    height: 100%;
}

.headercontent {
    background-image: url("desert.jpg");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}
.fixnav {
  position: fixed;
  z-index: 10;
  width: 100%;
}
.center-nav {
  margin-left: 30%;
}
.header {
  text-align: center;
}
.header li {
  display: inline-block;
  color: white;
}
.header h1 {
  font-family: 'Roboto Slab', serif;
  font-size: 90px;
  color: white;
  margin-top: 200px;
}
.header h3 {
  font-family: 'Maitree', serif;
  color: white;
}
.header p {
  margin: 0 auto;
  width: 70%;
  color: white;
  font-size: 18px;
  color: #A8A8A8;
}
.abouttext {
  padding-top: 15px;
}
.abouttext ul {
  padding: 0;
  margin-bottom: 2em;
}
.abouttext li {
 list-style-type: none;
 color: #5A5A5A;
 font-family: 'Crete Round', serif;
}
.abouttext h2 {
  color: white;
  font-family: 'Crete Round', serif;
}
.abouttext p {
  color: #5A5A5A;
  font-family: 'Karla', sans-serif;
}
.bandeau1 {
  background-color: #191919;
  color: #5B5B5B;
}
.bandeau1 h4 {
  color: white;
}
.bandeau1 span {
  font-size: 15px;
  color: white
}
.bandeau1 img {
  margin-top: 40px;
}
.mailimg img {
  width: 70px;
  margin-top: 0;
}
.btnsubmit button {
  text-transform: uppercase;
}
.portfolio h1 {
  text-align: center;
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 48px;
  color: #95A3A3;
}
.portfolio h1:hover {
  color: #11ABB0;
}
.portfolio img {
  width: 350px;
  border-radius: 15px;
}
.bandeau2 {
  background-color: #EBEEEE;
  padding-bottom: 5em;
}
.bandeau2 h1 {
  color: #9FABAB;
  padding-top: 20px;
  font-size: 20px;
  font-family: 'Crete Round', serif;
}
.mailcontent {
  padding-top: 15px;
}
.xp span {
    color: #11ABB0;
}
.xp p {
  color: #6E7881;
}
.xp h3 {
  font-size: 30px;
  font-family: 'Crete Round', serif;
}
.xp h1 {
  font-size: 24px;
  text-transform: uppercase;
  font-family: 'Crete Round', serif;
}
.xp h4 {
  font-style: italic;
  font:14px;
  color: #6E7881;
  margin-bottom: 18px;
  margin-top: 9px;
  font-family: 'Abel', sans-serif;
}
.progressbars {
  margin-top: 30px;
}
.progressbars h3 {
  font-family: 'Roboto Slab', serif;
}
.bandeau3 {
  background-color: #0F0F0F;
  text-align: center;
}
.bandeau3 li, p {
  margin-bottom: 30px;
  margin-top: 30px;
  display: inline-block;
}
.bandeau3 span {
  color: #11ABB0;
}
.bandeau3 img {
  width: 50px;
}
.up img {
  border-radius: 100%;
  background-color: grey;
}
.up a :hover {
  background-color: #11ABB0;
}
.up {
  position: relative;
  bottom: 1.5em;
}
.header ul {
  margin-top: 30px;;
}
.contact {
  background-color:
}
.explore {
  margin-top: 5em;
}
/*PORFOLIO ZOOM */
